# ÖDEV 6 ( Pandas )

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Soru 1

In [2]:
df = pd.DataFrame({'Asal Sayılar' : [2,3,5,7,11,13,17,19,23,29],
                   'Fibonacci Sayıları' : [1,1,2,3,5,8,13,21,34,55]
                 })
df.index = ['A','B','C','D','E','F','G','H','I','J']
df

   Asal Sayılar  Fibonacci Sayıları
A             2                   1
B             3                   1
C             5                   2
D             7                   3
E            11                   5
F            13                   8
G            17                  13
H            19                  21
I            23                  34
J            29                  55

## Soru 2

In [3]:
titanic_verileri=pd.read_csv('data/train.csv',index_col=0)
titanic_verileri.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

## Soru 3

In [6]:
print("survival ratio = {}".format(otuz_yasindan_kucukler.mean()['Survived']))

survival ratio = 0.40625

In [5]:
otuz_yasindan_kucukler=titanic_verileri[titanic_verileri['Age'] < 30]
otuz_yasindan_kucukler.groupby(by='Sex').mean()['Survived']

Sex
female    0.714286
male      0.215190
Name: Survived, dtype: float64